.site {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.site__header {
  position: sticky;
  top: 0;
}

.site__main {
  margin-block-start: var(--step-6);
}

.site__footer {
  margin-block-start: var(--step-6);
}
