.content-flow > * {
  margin-inline: auto;
  max-width: var(--width--content);
}

.content-flow > * + * {
  margin-block-start: var(--step-1);
}

.content-flow > * + :is(h2) {
  margin-block-start: var(--step-6);
}
